<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="x2clr" type="x2.ConfigSection, x2clr"/>
  </configSections>

  <x2clr>
    <log level="Info"/>
    <buffer chunkSizeExponent="24" segmentSizeExponent="12"/>
    <coroutine maxWaitHandles="1024" defaultTimeout="30.0"/>
    <flow defaultSlowHandlerLogLevel="Warning"
          defaultSlowHandlerLogThreshold="100"/>
  </x2clr>
</configuration>