<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="x2clr" type="x2.ConfigSection, x2clr"/>
  </configSections>

  <x2clr>
    <log level="Info"/>
    <buffer>
      <sizeExponent chunk="24" segment="12"/>
      <roomFactor minLevel="0" maxLevel="3"/>
    </buffer>
    <coroutine maxWaitHandles="32768" defaultTimeout="30.0"/>
    <flow>
      <logging>
        <slowHandler logLevel="Warning" threshold="100"/>
        <longQueue logLevel="Error" threshold="1000"/>
      </logging>
    </flow>
    <heartbeat interval="5"/>
    <link maxHandles="65536"/>
  </x2clr>
</configuration>